*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial;
}

body{
  color:#111;
}

.container{
  width:90%;
  max-width:1100px;
  margin:auto;
}

header{
  padding:20px 0;
}

nav{
  display:flex;
  justify-content:space-between;
}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:black;
}

/* HERO */
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:80px 0;
}

.hero img{
  width:260px;
  border-radius:10px;
}

/* BUTTON */
.buttons a{
  margin-right:10px;
  padding:10px 20px;
  border:1px solid black;
  text-decoration:none;
  color:black;
}

.buttons a:hover{
  background:black;
  color:white;
}

/* SECTION */
.section{
  padding:70px 0;
}

.light-bg{
  background:#f8fafc;
}

.light-blue{
  background:#eaf4ff;
}

/* SKILLS */
.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.skill-card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

/* PROJECT */
.project-card{
  background:white;
  padding:25px;
  margin-bottom:20px;
  border-radius:10px;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.highlight{
  border-left:5px solid #2563eb;
}

/* ICONS */
.icons a{
  margin-right:10px;
  font-size:20px;
  color:#2563eb;
}

/* TIMELINE */
.timeline{
  border-left:3px solid #2563eb;
  padding-left:20px;
}

.timeline-item{
  margin-bottom:20px;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
  gap:15px;
  max-width:400px;
  margin:auto;
}

input, textarea{
  padding:10px;
  border:1px solid #ccc;
}

button{
  padding:10px;
  background:black;
  color:white;
  border:none;
}

footer{
  text-align:center;
  padding:20px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero img{
    margin-top:20px;
  }
}